/* YourCreation.fr */


/* 
--------------------------------
Corps et texte principaux de la page
--------------------------------
 */ 

html{
	background:#1e1e1e;	
	color: #b2b2ad;
	font:inherit;
	font-size:95%
}

html, body{
	width:100%;
	margin:0px;
}


a{
	color:#468f98;
	text-decoration : none;	
}
a:hover{
	color:#468f98;
	text-decoration : underline;	
}
a:visited{
	color:#a3a3a3;
	text-decoration : none;	
}

input, textarea {
	border-radius:3px;	
	border: 1px #b9b9ba solid;
}

form{
	border: 0px #fff solid;	
}
select  {background-color:#151515; color: #787878;}

p {
	position:relative;
	margin:30px;
	width:auto;
}

span{
	color:#00aeff;	
}
span.bull {
	color:#ff6600;	
}

/* 
--------------------------------
Top header
--------------------------------
 */ 

#top {
	background:url("../img/logov3.png") no-repeat center center #2c2c2c;
	width:100%;
	height:52px;	
	margin:0px;
	padding:0px;
}

.icon {
	border: 1px #000 solid;
	border-radius: 2px;	
}

#top .left {
	float:left;
	width:250px;
	height:50px;
}
#top .left ul{
	margin-top:17px;
	list-style-type: none;
}
#top .left li a{
	color:#888888;	
	margin-right:25px;
	float:left;
	display:block;
	text-decoration:none;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}
#top .left li a.current {color: #fff;}
#top .left li a:hover{
	color:#fff;	
}

#top .right {
	float:right;
	width:300px;
	height:50px;
	margin-right:30px;
}
#top .right ul{
	margin-top:17px;
	list-style-type: none;
}
#top .right ul li a{
	color:#888888;	
	margin-left:25px;
	float:left;
	display:block;
	text-decoration:none;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}
#top .right li a.current {color: #fff;}
#top .right ul li a:hover{
	color:#fff;	
}

/* 
--------------------------------
Title Bar top
--------------------------------
 */ 

#title-left {
	margin:0;
	float:left;
	position:absolute;
	left:0px;
	top:52px;
	width:240px;
	height:29px;
	background:url("../img/background_title_v3.jpg");
	border-bottom: 1px solid #080808;
	border-top: 1px solid #080808;
}
#title-left  img {vertical-align:-1px;margin-right: 10px;}

.titre-left {
	color: #bbbbbb;
	text-shadow: 1px 1px 1px #000;
	font-size: 13px;
	padding:5px;
	padding-left:15px;
}

#title-right {
	margin:0;
	height:29px;
	background:url("../img/background_title_v3.jpg");
	border-left: 1px solid #080808;
	border-top: 1px solid #080808;
	border-bottom: 1px solid #080808;
	float:right;
	position:absolute;
	right:0px;
	left:240px;
	top:52px;
}
#title-right  img {vertical-align:-2px;margin-right: 7px;}

.titre-right {
	color: #bbbbbb;
	text-shadow: 1px 1px 1px #000;
	font-size: 13px;
	padding:5px;
	padding-left:15px;
}

.r-center { text-align:center; top:0px;}

.r-left { float:left; background-color:#1e1e1e; width:165px; border:1px solid #000; border-radius:10px; height:18px; margin-left:-5px; margin-top:-1px; padding-left:8px;padding-top:2px;}
.r-left .button { float: right; background-color:#151515; color: #787878; border:1px solid #000; border-radius:10px; width:140px; height:18px;text-align:center; margin-top:-2px;}
.r-right .button:hover {background-color:#0d0d0d;}

.r-right { float:right; background-color:#1e1e1e; width:145px; border:1px solid #000; border-radius:5px; height:16px; margin-right:4px; margin-top:0px; padding-left:8px;padding-top:1px;font-size:12px; text-shadow: 0px 0px 0px #000;}
.r-right input { float: right; background-color:#151515; color: #787878; border:1px solid #000; border-radius:10px; width:140px; height:16px;text-align:center; margin-top:-2px;}
.r-right input:focus {background-color:#0d0d0d;}

/* 
--------------------------------
Menu left
--------------------------------
 */ 

#menu {
	position:absolute;
	margin:0;
	top:83px;
	left:0px;
	bottom:45px;
	float:left;
	width:240px;
	background: #1e1e1e;
}

#menu ul {
	list-style-type: none;
	margin-left:-40px;
	margin-top:0px;
}

#menu ul li #content_list {
	height:22px;
	padding-top:6px;
	width:240px;
	font-size: 90%;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #191919;
	background: #2c2c2c;

}

#menu ul li #title_list {
	height:24px;
	padding-top:8px;
	width:225px;
	font-size: 90%;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #191919;
	background: #1e1e1e;
	padding-left:15px;
}

#menu ul li #content_list.cat{background-image:url("../img/ico/folder.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.cat-current{background-image:url("../img/ico/folder_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.cat:hover {background: #252525;background-image:url("../img/ico/folder_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}

#menu ul li #content_list.personal{background-image:url("../img/ico/note.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.personal-current{background-image:url("../img/ico/note_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.personal:hover {background: #252525;background-image:url("../img/ico/note_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}

#menu ul li #content_list.link{background-image:url("../img/ico/link.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.link:hover {background: #252525;background-image:url("../img/ico/link_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}

#menu ul li #content_list.admin{background-image:url("../img/ico/engrenage.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.admin-current{background-image:url("../img/ico/engrenage_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}
#menu ul li #content_list.admin:hover {background: #252525;background-image:url("../img/ico/engrenage_blue.png");background-repeat: no-repeat;background-position: 15px 7px;}

#menu ul li #content_list a.url {
	height:18px;
	width:100%;
	padding-left:45px;
	position: absolute;
	text-decoration:none;
	}	
#menu ul li #content_list a.url {color:#a3a3a3;}
	
/* 
--------------------------------
Content
--------------------------------
 */ 


#content {
	margin:0;
	float:right;
	position:absolute;
	right:0px;
	left:240px;
	top:83px;
	bottom:45px;
	background:url("../img/background_body_v3.jpg");
	border-bottom: 1px solid #080808;
	border-left: 1px solid #080808;
}



#content-stream {
	position:absolute;
	left:50%;
	top:50%;
	background: #fff;
	background:url("../img/background_body_v3.jpg");	
	border-radius:8px;
	width:640px;
	height:360px;
	margin-left:-320px;
	margin-top:-220px;
	box-shadow: 0px 15px 8px -8px black;
	border: 1px solid #303030;
	margin-bottom:50px;
	padding: 20px;
}

#content-form-zone {
	position:absolute;
	background:url("../img/background_body_connexion_v3.jpg") center center no-repeat #000;	
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
}



#content-form {
	position:absolute;
	width:300px;
	height:200px;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-150px;
	background:url("../img/background_body_v3.jpg");	
	border-radius:8px;
	border: 1px solid #303030;
	display: inline-block;	
}

#content-form input.un {background-color:#151515; color: #787878; border:1px solid #000; border-bottom:0px; border-radius:4px 4px 0px 0px; width:225px; height:25px;text-align:center;}
#content-form input.un:focus {background-color:#0d0d0d;}

#content-form input.deux {background-color:#151515; color: #787878; border:1px solid #000; border-radius:0px 0px 4px 4px; width:225px; height:25px;text-align:center;}
#content-form input.deux:focus  {background-color:#0d0d0d;}

#content-form input.trois {background-color:#0295da; color: #000; border:1px solid #000; border-radius:4px 4px 4px 4px; width:225px; height:25px;text-align:center;}
#content-form input.trois:hover  {background-color:#00aeff;}

/* 
--------------------------------
Footer
--------------------------------
 */ 

#footer-left {
	margin:0;
	float:left;
	position:fixed;
	left:0px;
	bottom:0px;
	width:240px;
	height:45px;
	background:url("../img/background_footer_v3.jpg");
	border-bottom: 1px solid #080808;
	border-top: 1px solid #080808;
}
.footer-left {
	color: #bbbbbb;
	text-shadow: 1px 1px 1px #000;
	font-size: 13px;
	padding:12px;
	padding-left:15px;
}

#footer-right {
	margin:0;
	height:45px;
	background:url("../img/background_footer_v3.jpg");
	border-bottom: 1px solid #080808;
	border-top: 1px solid #080808;
	border-left: 1px solid #080808;
	float:right;
	position:fixed;
	right:0px;
	left:240px;
	bottom:0px;
}
.footer-right {
	color: #bbbbbb;
	text-shadow: 1px 1px 1px #000;
	font-size: 13px;
	padding:12px;
	padding-left:15px;
	text-align:center;
}



/* 
--------------------------------
Supléments
--------------------------------
 */ 


.text {
	position:relative;
	margin:auto;
	background:url("../img/background_table_v2.png");
	border: 1px solid #080808;
	border-radius:8px;
	width:95%;
	padding:8px;
	font-size:13px;
	margin-bottom:15px;
	margin-top:40px;
}

.text input {background-color:#151515; color: #787878; border:1px solid #000; border-radius:4px; width:130px; height:18px;text-align:center;margin-left:5px;margin-right:15px;}
.text #userlevel {width:40px;}
.text input:focus {background-color:#0d0d0d;}

.text input.valide {background-color:#151515; color: #787878; border:1px solid #000; border-radius:4px; width:150px; height:18px;text-align:center;margin-left:5px;margin-right:15px;}
.text input.valide:focus {background-color:#0d0d0d;}

.text input.valide {background-color:#0295da; color: #000; border:1px solid #000; border-radius:4px 4px 4px 4px; width:100px; height:22px;text-align:center;}
.text input.valide:hover  {background-color:#00aeff;}

/* 
--------------------------------
Tableaux
--------------------------------
 */ 

table {
	position:relative;
	width:95%;
	margin:auto;
	margin-bottom:15px;
	border:0px #e5e5e5 solid;
	border-radius:8px;
}

table.full{width:100%;}

table th{
	background:url("../img/background_text_v2.png");
	color: #fff;
	height: 25px;	
}
table th:hover{background:url("../img/background_text.png"); opacity:1;}

table td{
	text-align:center;
	border-bottom:0px #595957 solid;
	font-size:13px;
}


table tr{
height: 20px;
background:url("../img/background_table_v2.png");
}
table tr:hover{
background:transparent;
}

table td.small{font-size:11px;}
table td.name{text-align:left;padding-left:10px;}
.trbutton{height:18px;}
table td input.valide {background-color:#0295da; color: #000; border:1px solid #000; border-radius:4px 4px 4px 4px; width:70px; height:22px;text-align:center;}
table td input.valide:hover  {background-color:#00aeff;}

/* 
--------------------------------
Categories fichiers
--------------------------------
 */ 


.categorie
{
	background:url('../img/classicv2.png') no-repeat;
	width:70px;
	height:20px;
}

.cat-window {background-position: 0 -475px;}
.cat-apple {background-position: 0 -175px;}
.cat-dvdrip {background-position: 0 0;}
.cat-dvdrip-vostfr {background-position: 0 -25px;}
.cat-emissions {background-position: 0 -400px;}
.cat-doc {background-position: 0 -300px;}
.cat-doc-hd {background-position: 0 -275px;}
.cat-tvpack {background-position: 0 -650px;}
.cat-tv-vostfr {background-position: 0 -575px;}
.cat-tv-vf {background-position: 0 -625px;}
.cat-tv-hd-vostfr {background-position: 0 -125px;}
.cat-tv-hd-vf {background-position: 0 -100px;}
.cat-hd-720p {background-position: 0 -75px;}
.cat-hd-1080p {background-position: 0 -50px;}
.cat-full-br {background-position: 0 -200px;}
.cat-divers {background-position: 0 -250px;}
.cat-dvdr {background-position: 0 -350px;}
.cat-dvdr-series {background-position: 0 -375px;}
.cat-anime {background-position: 0 -150px;}
.cat-tv-vo {background-position: 0 -550px;}
.cat-concert {background-position: 0 -450px;}
.cat-ebook {background-position: 0 -225px;}
.cat-sport {background-position: 0 -600px;}
.cat-pc-game {background-position: 0 -425px;}
.cat-nitendo-ds {background-position: 0 -325px;}
.cat-wii {background-position: 0 -675px;}
.cat-xbox360 {background-position: 0 -700px;}
.cat-psp {background-position: 0 -525px;}
.cat-ps {background-position: 0 -500px;}
.cat-flac {background-position: 0 -725px;}


/* 
--------------------------------
informations
--------------------------------
 */ 
img.affiche{
	position:relative;
	height:250px;
	margin:10px;
	float:left;
	border-radius:3px;
	margin-right:30px;
}


#info_content
{
	position:relative;
	text-align:justify;	
	padding: 20px;
	color: #fff;
}
