* {
  margin: 0;
  padding: 0;
  border: 0;
}
.wrapper {
  width: 600px;
  margin: 60px auto;
}

.player {
  width: 600px;
  height: 337px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.player video {
  width: 600px;
  height: 337px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  border-radius: 20px;
}
.player canvas {
  position: absolute;
  width: 600px;
  height: 337px;
  transform: scale(1.2);
  -webkit-filter: blur(50px);
  opacity: 0.75;
  z-index: -1;
}